* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  text-shadow: #fc0 1px 0 2px;
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#container {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 0;
  overflow: auto;
}
.divs {
  background-color: white;
  border: 1px solid black;
}
#color-pane {
  float: left;
  margin-top: 5%;
  margin-left: 10rem;
  margin-right: 3rem;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
  background-color: azure;
  text-align: center;
}
#color-select {
  width: 30%;
  height: 1rem;
  margin: 5% auto auto;
}
#color-picker {
  text-align: center;
  background-color: black;
  width: 3rem;
  padding: 0;
}
.container-2,
.size {
  text-align: center;
}
.eraser {
  width: 4rem;
  height: 2rem;
  padding: 5px;
}
.erase {
  margin-top: 1rem;
}
#rainbow {
  padding: 1em;
  width: 3rem;
  height: 1.5em;
}
.rainbow-container {
  margin-top: 1rem;
}
